.join {
  border-radius: 5px;
  background-color: #1f98cc;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.setting {
  border-radius: 5px;
  background-color:
    #6e9fa5;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.login {
  border-radius: 5px;
  background-color: #f68d1e;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.contact {
  border-radius: 5px;
  background-color: #c02b32;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.search {
  border-radius: 5px;
  background-color: #91c53c;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.help {
  border-radius: 5px;
  background-color: #5b5393;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.home {
  border-radius: 5px;
  background-color:
    #cd3b75;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.download {
  border-radius: 5px;
  background-color: #97702d;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  width: 300px;
}

.container {
  display: flex;
  width: 300px;
}

.kavish {
  border-radius: 5px;
  color: white;
  border: none;
  border-radius: 17px;
  margin-left: 25px;
  padding: 5px 15px;
  width: 120px;
  margin-bottom: 15px;
}